/* CSS BY: Selin Ayyildiz */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
}

/* GLOBAL STYLES (mobile first/small) */
body {
    background-color: var(--soft-white);
    font-family: 'Playfair Display', serif;
    color: var(--dark-charcoal);

}

main {
    max-width: 450px;
    margin: 0 auto;
    width: 100%;
}

/* HEADINGS */

h1 {
    font-size: 3rem;
    color: var(--linen);
    text-align: center;
    line-height: 1.1;
}

h2 {
    font-size: 2rem;
    color: var(--midnight-blue);
    margin-bottom: 0.75rem;
}

h3 {
    font-size: 2rem;
    color: var(--linen) ;
    font-weight: 700;
}

p {
    line-height: 1.2rem;
    font-weight: 400;
    font-size: 0.95rem;
}

/* HEADER SECTION */

header img {
    width: 200px;
    max-width: 70%;
    padding-bottom: 1.5rem;
}

header {
    background-color: var(--midnight-blue);
    text-align: center;
    padding: 2.5rem 1rem 1rem;
    font-weight: bolder;
}

header p {
    color: var(--linen);
    padding-top: 1rem;
    font-style: italic;
}



/* NAVIGATION */
nav {
    background-color: var(--champagne-gold);
    display: flex;
    justify-content: center;
    padding: 8px 0;
}

nav ul {
    display: flex;
    gap: 2.5rem;
}

nav a {
    text-decoration: none;
    color: var(--midnight-blue);
    font-size: 1.5rem;
    font-weight: bold;
}

nav a:hover {
    color: var(--linen);
}

/* SECTIONS */

section {
    border-bottom: 3px solid var(--champagne-gold);
    padding: 5px;
}


/* WELCOME */
.welcome {
    text-align: left;
    margin: 10px;
    padding: 20px 0;
}

.welcome h2 {
    padding-bottom: 10px;
}

/* OUR OFFERINGS */
.ourOfferings {
    text-align: left ;
    margin: 0 auto;
}

.ourOfferings h2 {
    padding-bottom: 20px ;
}

.ourOfferings h3 {
    font-size: 1.3rem;
    font-weight: bolder;
    padding-bottom: 10px;
}

.ourOfferings p, ul {
    color: var(--linen);
    font-size: 0.9rem;
}

/* OUR OFFERINGS BOXES*/

.ourOfferings article {
    background-color: var(--olive-green);
    padding: 15px 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 5px ;
}

.ourOfferings ul  {
    color: var(--linen);
    list-style-type: disc;
    list-style-position: outside;
    margin: 0.5rem 0 0.75rem 1.1rem;
    padding: 0;
    line-height: 1.2rem;
}



/* GALLERY */

.gallery h2{
    padding: 1rem 0rem 0rem;
}

.gallery p {
    padding-bottom: 1rem;
}

.gallery figure p {
    padding-bottom: 3px;
    padding-top: 5px;
    font-size: 0.75rem;
    font-style: italic;
    font-weight: lighter;
}

.gallery figure {
    border-radius: 12px;
    box-shadow: 0px 0.5px 5px ;
    text-align: center;
    margin-bottom: 1.5rem;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}


/* GALLERY BUTTON*/
.button {
    display: flex;
    margin-top: 0.75rem;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0.75rem;
    background-color: var(--olive-green);
    color: var(--linen);
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0 4px 10px;
    text-align: center;
    font-weight: bolder;
}




/* FOOTER*/
footer {
    margin-top: 1.2rem;
    background-color: var(--midnight-blue);
    color: var(--linen);
    text-align: center;
    padding: 2rem 1rem 2.5rem;
    font-weight: bolder;
    line-height: 1.2px;
}

footer address {
    padding-bottom: 3rem;
    font-weight: bolder;
}

footer a {
    color: var(--champagne-gold);
    text-decoration: none;
    font-weight: bolder;
}


/* MEDIA QUERY (medium) */
@media (min-width: 600px) {
  
    main {
        max-width: 800px;
    }

    header {
        padding: 3rem 2rem 2rem;
    }

    header img {
        width: 220px;
    }

    nav ul {
        gap: 3rem;
    }

    section {
        padding: 1rem 1rem;
    }

    .ourOfferings {
        display: grid;
        grid-template-columns: repeat(2, minmax(0,1fr));
        column-gap: 1rem;
        row-gap: 1rem;
    }

    .ourOfferings h2 {
        grid-column: 1/-1;
    }

    .ourOfferings article {
        margin-bottom: 0;
    }

    .ourOfferings .third {
        grid-column: 1/-1;
    }

    .gallery {
        display: grid;
        grid-template-columns:  repeat(2, minmax(0,1fr));
        column-gap: 1rem;
        row-gap: 1rem;
    }

    .gallery h2, 
    .gallery > p,
    .gallery .button {
        grid-column: 1/-1;
    }

    .gallery figure {
        margin-bottom: 0;
    }

}

/* MEDIA QUERY (large) */
@media (min-width: 900px) {

    main {
        max-width: 1200px;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.7rem;
    }

    section {
        padding: 2rem 2rem
    }

    nav ul {
        gap: 10rem;
    }

    nav a {
        font-size: 2rem;
    }

    .welcome {
        padding: 4rem 2rem 3rem;
    }

    .ourOfferings {
        display: grid;
        grid-template-columns: repeat(2, minmax(0,1fr));
        gap: 1rem 1rem;
        padding: 2rem 2rem;
    }

    .ourOfferings h3 {
        font-size: 2rem;
    }


   .ourOfferings p,
   .ourOfferings ul {
        font-size: 1rem;
        line-height: 1.5rem;
   }

   .gallery {
        display: grid;
        grid-template-columns: repeat(3, minmax(0,1fr));
        padding: 2rem 2rem;
        gap: 1rem 1rem;
   }

   .gallery figure p {
        font-size: 1rem;
   }

   .button {
        padding: 1rem;
        font-size: 1.5rem;
   }

   footer {
        padding-top: 4rem;
   }

   footer address p {
        padding: 5px;
        font-size: 1.3rem;
   }

   footer div {
        padding: 5px;
        font-size: 1.3rem;
   }
}

/* MEDIA QUERY (xl) */

@media (min-width: 1200px) {

    main {
        max-width: 2000px;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;
        line-height: 1.9rem;
    }

    header img {
        width: 300px;
    }

    header p {
        font-size: 1.2rem;
    }

  
    nav ul {
        gap: 25rem;
    }

    nav a {
        font-size: 2rem;
    }

    .welcome, 
    .ourOfferings,
    .gallery {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

   .gallery {
        display: grid;
        grid-template-columns: repeat(3, minmax(0,1fr));
        padding: 2rem 2rem;
        gap: 2rem 2rem;
   }
}